/* ============================= */
/* ===== Allgemeine Styles ===== */
/* ============================= */

/* Dein Code */

/* ======================================= */
/* ===== Section 1: Navigationszeile ===== */
/* ======================================= */

/* Dein Code */

/* ================================ */
/* ===== Section 2: Überblick ===== */
/* ================================ */
.section-style-2 {
    background-color: #6be99b;
    color: white;
}

.grosser-titel {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;

.kleiner-titel {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}

/* =============================== */
/* ===== Section 3: Features ===== */
/* =============================== */

/* Dein Code */

/* ================================== */
/* ===== Section 4: Bewertungen ===== */
/* ================================== */

/* Dein Code */

/* ============================= */
/* ===== Section 5: Preise ===== */
/* ============================= */

/* Dein Code */

/* ============================= */
/* ===== Section 6: Footer ===== */
/* ============================= */

/* Dein Code */
