/* ============================= */
/* ===== Allgemeine Styles ===== */
/* ============================= */

/* Dein Code */

/* ======================================= */
/* ===== Section 1: Navigationszeile ===== */
/* ======================================= */

/* Dein Code */

/* ================================ */
/* ===== Section 2: Überblick ===== */
/* ================================ */
.section-style-2 {
    background-color: #6be99b;
    color: white;
}
.section-style-1 {
    background-color: #097e43;
    color: rgb(231, 228, 228);
  }
.pizza-bild{
    width: 80%;
    border-radius: 5%;
    transform: rotate(5deg);
  }
.grosser-titel {
    font-size: 60px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
